div {
  
  margin: 50px:
  background:none;
  border:5px solid #FEB96F;
  height:200px;
  width:700px;
  border-radius:5%;
  position:absolute;
  left:34%;
  right:50%;
  top:38%;   
  bottom:30%;
  color:blue ;
  text-position: relative;
  text-align:center;
}

div p  {
    color:#00C978;
    text-decoration:none;
    border:0px solid transparent;
    font-size:34px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

body {
  background-image: url(https://static.pexels.com/photos/30732/pexels-photo-30732.jpg);
  background-size:2500px;
  background-repeat:no-repeat;
}
div a {
  margin: 0;
    background: #00C978;
    position: absolute;
    top: 79%;
    left: 50%;
    margin-right: -90%;
    transform: translate(-50%, -50%) 
}